novel_factory/n8n/Novel Seed - Bridge GPT MVP.json
{
  "name": "Novel Seed - Bridge GPT MVP",
  "nodes": [
    {
      "parameters": {},
      "id": "manual_trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        160,
        240
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "novel-seed-bridge-gpt",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook_trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        160,
        80
      ],
      "webhookId": "novel-seed-bridge-gpt"
    },
    {
      "parameters": {
        "jsCode": "const defaults = {\n  title: '我要送快递可是你非要我做董事长',\n  book_id: 'kuaidi_dongshizhang',\n  chapter_count: 20,\n  target_words_per_chapter: 2500,\n  optional_genre: '都市轻喜剧爽文',\n  style_preference: '轻松、反套路、节奏快、带职场讽刺和底层智慧的爽感',\n  forbidden: ['不要把主角写成天生霸总', '不要让商业问题靠一句话无脑解决'],\n  openai_model: ''\n};\nconst raw = $json || {};\nconst incoming = raw.body && typeof raw.body === 'object' ? raw.body : raw;\nconst title = incoming.title || incoming.bookTitle || defaults.title;\nconst safeBookId = String(incoming.book_id || incoming.bookId || defaults.book_id || title)\n  .trim()\n  .replace(/[\\\\/:*?\"<>|\\s]+/g, '_')\n  .replace(/^_+|_+$/g, '')\n  .slice(0, 80) || 'book';\nreturn [{ json: {\n  ...defaults,\n  ...incoming,\n  title,\n  bookTitle: title,\n  book_id: safeBookId,\n  chapter_count: Number(incoming.chapter_count || incoming.chapterCount || defaults.chapter_count),\n  target_words_per_chapter: Number(incoming.target_words_per_chapter || incoming.chapterTargetWords || defaults.target_words_per_chapter),\n  openai_model: incoming.openai_model || incoming.model || defaults.openai_model\n} }];"
      },
      "id": "init_params",
      "name": "Init Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{($env.NOVEL_BRIDGE_URL || 'http://novel-bridge:8765') + '/api/books/init'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Novel-Token",
              "value": "={{$env.NOVEL_BRIDGE_TOKEN || ''}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { title: $json.title, book_id: $json.book_id, chapter_count: $json.chapter_count } }}",
        "options": {}
      },
      "id": "bridge_init_book",
      "name": "Bridge Init Book",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        160
      ]
    },
    {
      "parameters": {
        "url": "={{($env.NOVEL_BRIDGE_URL || 'http://novel-bridge:8765') + '/api/prompts/01_seed_from_title.md'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Novel-Token",
              "value": "={{$env.NOVEL_BRIDGE_TOKEN || ''}}"
            }
          ]
        },
        "options": {}
      },
      "id": "load_seed_prompt",
      "name": "Load Seed Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        928,
        160
      ]
    },
    {
      "parameters": {
        "url": "={{($env.NOVEL_BRIDGE_URL || 'http://novel-bridge:8765') + '/api/schemas/story_seed.schema.json'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Novel-Token",
              "value": "={{$env.NOVEL_BRIDGE_TOKEN || ''}}"
            }
          ]
        },
        "options": {}
      },
      "id": "load_story_seed_schema",
      "name": "Load Story Seed Schema",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1184,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const init = $('Init Params').item.json;\nconst promptTemplate = $('Load Seed Prompt').item.json.content;\nconst schema = $json.schema || $json;\nconst payload = {\n  title: init.title,\n  chapter_count: init.chapter_count,\n  optional_genre: init.optional_genre,\n  style_preference: init.style_preference,\n  forbidden: init.forbidden\n};\nconst prompt = `${promptTemplate}\\n\\n请根据以下输入生成故事种子。\\n输入：\\n${JSON.stringify(payload, null, 2)}\\n\\n必须严格符合以下 JSON Schema，不要输出 Markdown，不要输出解释：\\n${JSON.stringify(schema, null, 2)}`;\nreturn [{ json: { ...init, prompt } }];"
      },
      "id": "build_gpt_seed_request",
      "name": "Build GPT Seed Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{($env.OPENAI_BASE_URL || 'https://api.openai.com') + '/v1/chat/completions'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.OPENAI_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: $json.openai_model || $env.OPENAI_MODEL || 'gpt-4o', temperature: 0.4, response_format: { type: 'json_object' }, messages: [ { role: 'system', content: '你是中文类型小说总策划。你必须只输出合法 JSON。' }, { role: 'user', content: $json.prompt } ] } }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "openai_seed",
      "name": "OpenAI Seed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1696,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const init = $('Build GPT Seed Request').item.json;\nlet response = $json;\nif (typeof response === 'string') {\n  try { response = JSON.parse(response); } catch (err) { response = { data: response }; }\n}\nif (typeof response.data === 'string') {\n  try { response = JSON.parse(response.data); } catch (err) {}\n}\nif (response.body && typeof response.body === 'string') {\n  try { response = JSON.parse(response.body); } catch (err) {}\n}\nconst raw = response.choices?.[0]?.message?.content\n  || response.content?.[0]?.text\n  || response.output_text\n  || response.text\n  || response.data?.choices?.[0]?.message?.content\n  || '';\nlet txt = String(raw).trim();\nif (txt.startsWith('```')) {\n  txt = txt.replace(/^```(?:json)?\\s*/i, '').replace(/```$/i, '').trim();\n}\nconst s = txt.indexOf('{');\nconst e = txt.lastIndexOf('}');\nif (s !== -1 && e !== -1 && e > s) txt = txt.slice(s, e + 1);\nlet storySeed;\ntry {\n  storySeed = JSON.parse(txt);\n} catch (err) {\n  throw new Error('Story seed JSON parse failed: ' + raw);\n}\nreturn [{ json: { ...init, story_seed: storySeed, story_seed_raw: raw } }];"
      },
      "id": "parse_story_seed",
      "name": "Parse Story Seed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1952,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{($env.NOVEL_BRIDGE_URL || 'http://novel-bridge:8765') + '/api/books/' + $json.book_id + '/write'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Novel-Token",
              "value": "={{$env.NOVEL_BRIDGE_TOKEN || ''}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { path: 'bible/story_seed.json', content: $json.story_seed } }}",
        "options": {}
      },
      "id": "save_story_seed",
      "name": "Save Story Seed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2208,
        160
      ]
    },
    {
      "parameters": {
        "url": "={{($env.NOVEL_BRIDGE_URL || 'http://novel-bridge:8765') + '/api/prompts/02_story_bible.md'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Novel-Token",
              "value": "={{$env.NOVEL_BRIDGE_TOKEN || ''}}"
            }
          ]
        },
        "options": {}
      },
      "id": "load_story_bible_prompt",
      "name": "Load Story Bible Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2464,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const seedNode = $('Parse Story Seed').item.json;\nconst promptTemplate = $json.content;\nconst storySeed = seedNode.story_seed;\nconst prompt = `${promptTemplate}\n\n请基于以下 story_seed 生成小说圣经。\nstory_seed：\n${JSON.stringify(storySeed, null, 2)}\n\n要求：\n1. 只输出 Markdown 正文。\n2. 标题层级清晰。\n3. 内容要能直接保存为 bible/story_bible.md。\n4. 不要输出代码块包裹。\n5. 控制在 3500-6000 个中文字符，优先保留角色、主线、势力、规则、伏笔和文风约束，不要展开正文。`;\nreturn [{ json: { ...seedNode, prompt } }];"
      },
      "id": "build_gpt_story_bible_request",
      "name": "Build GPT Story Bible Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2720,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{($env.OPENAI_BASE_URL || 'https://api.openai.com') + '/v1/chat/completions'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.OPENAI_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: $json.openai_model || $env.OPENAI_MODEL || 'gpt-5.4', temperature: 0.35, messages: [ { role: 'system', content: '你是中文长篇类型小说架构师。请按要求输出可直接保存的 Markdown。' }, { role: 'user', content: $json.prompt } ] } }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "openai_story_bible",
      "name": "OpenAI Story Bible",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2976,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const seedNode = $('Build GPT Story Bible Request').item.json;\nlet response = $json;\nif (typeof response === 'string') {\n  try { response = JSON.parse(response); } catch (err) { response = { data: response }; }\n}\nif (typeof response.data === 'string') {\n  try { response = JSON.parse(response.data); } catch (err) {}\n}\nif (response.body && typeof response.body === 'string') {\n  try { response = JSON.parse(response.body); } catch (err) {}\n}\nlet markdown = response.choices?.[0]?.message?.content\n  || response.content?.[0]?.text\n  || response.output_text\n  || response.text\n  || response.data?.choices?.[0]?.message?.content\n  || '';\nmarkdown = String(markdown).trim();\nif (markdown.startsWith('```')) {\n  markdown = markdown.replace(/^```(?:markdown|md)?\\s*/i, '').replace(/```$/i, '').trim();\n}\nif (!markdown) throw new Error('Story bible markdown is empty');\nreturn [{ json: { ...seedNode, story_bible_markdown: markdown } }];"
      },
      "id": "parse_story_bible",
      "name": "Parse Story Bible",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3232,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{($env.NOVEL_BRIDGE_URL || 'http://novel-bridge:8765') + '/api/books/' + $json.book_id + '/write'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Novel-Token",
              "value": "={{$env.NOVEL_BRIDGE_TOKEN || ''}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { path: 'bible/story_bible.md', content: $json.story_bible_markdown } }}",
        "options": {}
      },
      "id": "save_story_bible",
      "name": "Save Story Bible",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3488,
        160
      ]
    },
    {
      "parameters": {
        "url": "={{($env.NOVEL_BRIDGE_URL || 'http://novel-bridge:8765') + '/api/prompts/03_outline_20.md'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Novel-Token",
              "value": "={{$env.NOVEL_BRIDGE_TOKEN || ''}}"
            }
          ]
        },
        "options": {}
      },
      "id": "load_outline_prompt",
      "name": "Load Outline Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3744,
        160
      ]
    },
    {
      "parameters": {
        "url": "={{($env.NOVEL_BRIDGE_URL || 'http://novel-bridge:8765') + '/api/schemas/chapter_plan.schema.json'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Novel-Token",
              "value": "={{$env.NOVEL_BRIDGE_TOKEN || ''}}"
            }
          ]
        },
        "options": {}
      },
      "id": "load_chapter_plan_schema",
      "name": "Load Chapter Plan Schema",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4000,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const seedNode = $('Parse Story Seed').item.json;\nconst storyBible = $('Parse Story Bible').item.json.story_bible_markdown;\nconst promptTemplate = $('Load Outline Prompt').item.json.content;\nconst schema = $json.schema || $json;\nconst payload = {\n  story_bible: storyBible,\n  chapter_count: seedNode.chapter_count || 20,\n  target_words_per_chapter: seedNode.target_words_per_chapter || 2500\n};\nconst prompt = `${promptTemplate}\n\n请基于以下小说圣经生成 20 章大纲。\n输入：\n${JSON.stringify(payload, null, 2)}\n\n必须严格符合以下 JSON Schema，只输出 JSON，不要输出 Markdown 或解释：\n${JSON.stringify(schema, null, 2)}`;\nreturn [{ json: { ...seedNode, story_bible_markdown: storyBible, prompt } }];"
      },
      "id": "build_gpt_outline_request",
      "name": "Build GPT Outline Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4256,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{($env.OPENAI_BASE_URL || 'https://api.openai.com') + '/v1/chat/completions'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.OPENAI_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: $json.openai_model || $env.OPENAI_MODEL || 'gpt-5.4', temperature: 0.35, response_format: { type: 'json_object' }, messages: [ { role: 'system', content: '你是中文类型小说主编。你必须只输出合法 JSON。' }, { role: 'user', content: $json.prompt } ] } }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "openai_outline_20",
      "name": "OpenAI Outline 20",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4512,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $('Build GPT Outline Request').item.json;\nlet response = $json;\nif (typeof response === 'string') {\n  try { response = JSON.parse(response); } catch (err) { response = { data: response }; }\n}\nif (typeof response.data === 'string') {\n  try { response = JSON.parse(response.data); } catch (err) {}\n}\nif (response.body && typeof response.body === 'string') {\n  try { response = JSON.parse(response.body); } catch (err) {}\n}\nconst raw = response.choices?.[0]?.message?.content\n  || response.content?.[0]?.text\n  || response.output_text\n  || response.text\n  || response.data?.choices?.[0]?.message?.content\n  || '';\nlet txt = String(raw).trim();\nif (txt.startsWith('```')) {\n  txt = txt.replace(/^```(?:json)?\\s*/i, '').replace(/```$/i, '').trim();\n}\nconst s = txt.indexOf('{');\nconst e = txt.lastIndexOf('}');\nif (s !== -1 && e !== -1 && e > s) txt = txt.slice(s, e + 1);\nlet outline;\ntry {\n  outline = JSON.parse(txt);\n} catch (err) {\n  throw new Error('Outline JSON parse failed: ' + raw);\n}\nif (!Array.isArray(outline.chapters) || outline.chapters.length !== 20) {\n  throw new Error('Outline must contain exactly 20 chapters, got ' + (outline.chapters || []).length);\n}\nreturn [{ json: { ...source, outline_20: outline, outline_20_raw: raw } }];"
      },
      "id": "parse_outline_20",
      "name": "Parse Outline 20",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4768,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{($env.NOVEL_BRIDGE_URL || 'http://novel-bridge:8765') + '/api/books/' + $json.book_id + '/write'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Novel-Token",
              "value": "={{$env.NOVEL_BRIDGE_TOKEN || ''}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { path: 'outline/chapters_20.json', content: $json.outline_20 } }}",
        "options": {}
      },
      "id": "save_outline_20",
      "name": "Save Outline 20",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5024,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const seed = $('Parse Story Seed').item.json;\nconst chapterTask = $('Parse Chapter 1 Task').item.json.chapter_task;\nconst sceneCards = $('Parse Chapter 1 Scene Cards').item.json.scene_cards;\nreturn [{ json: {\n  ok: true,\n  book_id: seed.book_id,\n  title: seed.title,\n  saved_paths: [\n    'bible/story_seed.json',\n    'bible/story_bible.md',\n    'outline/chapters_20.json',\n    'chapter_tasks/ch001.task.json',\n    'scenes/ch001.scenes.json'\n  ],\n  chapter_1: {\n    title: chapterTask.chapter_title,\n    scene_count: sceneCards.scenes.length\n  },\n  next_step: '生成第 1 章正文场景并合并为 chapters/ch001.md'\n} }];"
      },
      "id": "done",
      "name": "Done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8352,
        160
      ]
    },
    {
      "parameters": {
        "url": "={{($env.NOVEL_BRIDGE_URL || 'http://novel-bridge:8765') + '/api/prompts/04_chapter_task.md'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Novel-Token",
              "value": "={{$env.NOVEL_BRIDGE_TOKEN || ''}}"
            }
          ]
        },
        "options": {}
      },
      "id": "load_chapter_task_prompt",
      "name": "Load Chapter Task Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5280,
        160
      ]
    },
    {
      "parameters": {
        "url": "={{($env.NOVEL_BRIDGE_URL || 'http://novel-bridge:8765') + '/api/schemas/chapter_task.schema.json'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Novel-Token",
              "value": "={{$env.NOVEL_BRIDGE_TOKEN || ''}}"
            }
          ]
        },
        "options": {}
      },
      "id": "load_chapter_task_schema",
      "name": "Load Chapter Task Schema",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5536,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $('Parse Outline 20').item.json;\nconst promptTemplate = $('Load Chapter Task Prompt').item.json.content;\nconst schema = $json.schema || $json;\nconst chapterIndex = Number(source.start_chapter || source.chapter_index || 1);\nconst outline = source.outline_20;\nconst chapterPlan = outline.chapters.find(ch => Number(ch.chapter_index) === chapterIndex);\nif (!chapterPlan) throw new Error('Chapter plan not found for chapter ' + chapterIndex);\nconst storySeed = source.story_seed || {};\nconst stateMemory = {\n  characters: [],\n  locations: [],\n  organizations: [],\n  must_remember: [\n    '主角设定：' + JSON.stringify(storySeed.protagonist_seed || {}, null, 2),\n    '主线冲突：' + (storySeed.main_conflict || ''),\n    '阶段结局：' + (storySeed.stage_ending || ''),\n    ...((storySeed.forbidden || []).map(item => '禁忌：' + item))\n  ].filter(Boolean)\n};\nconst payload = {\n  story_bible: source.story_bible_markdown,\n  chapter_plan: chapterPlan,\n  recent_summaries: [],\n  state_memory: stateMemory,\n  active_foreshadowing: []\n};\nconst prompt = `${promptTemplate}\n\n请基于以下输入生成第 ${chapterIndex} 章任务单。\n输入：\n${JSON.stringify(payload, null, 2)}\n\n必须严格符合以下 JSON Schema，只输出 JSON，不要输出 Markdown 或解释：\n${JSON.stringify(schema, null, 2)}`;\nreturn [{ json: { ...source, chapter_index: chapterIndex, chapter_plan: chapterPlan, state_memory: stateMemory, prompt } }];"
      },
      "id": "build_gpt_chapter1_task_request",
      "name": "Build GPT Chapter 1 Task Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5792,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{($env.OPENAI_BASE_URL || 'https://api.openai.com') + '/v1/chat/completions'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.OPENAI_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: $json.openai_model || $env.OPENAI_MODEL || 'gpt-5.4', temperature: 0.35, response_format: { type: 'json_object' }, messages: [ { role: 'system', content: '你是中文长篇小说章节导演。你必须只输出合法 JSON。' }, { role: 'user', content: $json.prompt } ] } }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "openai_chapter1_task",
      "name": "OpenAI Chapter 1 Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6048,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "function extractContent(response) {\n  if (typeof response === 'string') {\n    try { response = JSON.parse(response); } catch (err) { response = { data: response }; }\n  }\n  if (typeof response.data === 'string') {\n    try { response = JSON.parse(response.data); } catch (err) {}\n  }\n  if (response.body && typeof response.body === 'string') {\n    try { response = JSON.parse(response.body); } catch (err) {}\n  }\n  return response.choices?.[0]?.message?.content\n    || response.content?.[0]?.text\n    || response.output_text\n    || response.text\n    || response.data?.choices?.[0]?.message?.content\n    || '';\n}\nfunction parseJsonFromText(raw, label) {\n  let txt = String(raw).trim();\n  if (txt.startsWith('```')) {\n    txt = txt.replace(/^```(?:json)?\\s*/i, '').replace(/```$/i, '').trim();\n  }\n  const s = txt.indexOf('{');\n  const e = txt.lastIndexOf('}');\n  if (s !== -1 && e !== -1 && e > s) txt = txt.slice(s, e + 1);\n  try {\n    return JSON.parse(txt);\n  } catch (err) {\n    throw new Error(label + ' JSON parse failed: ' + raw);\n  }\n}\nconst source = $('Build GPT Chapter 1 Task Request').item.json;\nconst raw = extractContent($json);\nconst task = parseJsonFromText(raw, 'Chapter task');\nconst required = ['chapter_index','chapter_title','opening_state','ending_state','protagonist_goal','obstacle','required_information','avoid_conflicts','emotion_curve','cliffhanger','next_chapter_bridge'];\nfor (const key of required) {\n  if (!(key in task)) throw new Error('Chapter task missing field: ' + key);\n}\nif (Number(task.chapter_index) !== Number(source.chapter_index)) {\n  task.chapter_index = Number(source.chapter_index);\n}\nreturn [{ json: { ...source, chapter_task: task, chapter_task_raw: raw } }];"
      },
      "id": "parse_chapter1_task",
      "name": "Parse Chapter 1 Task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6304,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{($env.NOVEL_BRIDGE_URL || 'http://novel-bridge:8765') + '/api/books/' + $json.book_id + '/write'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Novel-Token",
              "value": "={{$env.NOVEL_BRIDGE_TOKEN || ''}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { path: 'chapter_tasks/ch001.task.json', content: $json.chapter_task } }}",
        "options": {}
      },
      "id": "save_chapter1_task",
      "name": "Save Chapter 1 Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6560,
        160
      ]
    },
    {
      "parameters": {
        "url": "={{($env.NOVEL_BRIDGE_URL || 'http://novel-bridge:8765') + '/api/prompts/05_scene_cards.md'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Novel-Token",
              "value": "={{$env.NOVEL_BRIDGE_TOKEN || ''}}"
            }
          ]
        },
        "options": {}
      },
      "id": "load_scene_cards_prompt",
      "name": "Load Scene Cards Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6816,
        160
      ]
    },
    {
      "parameters": {
        "url": "={{($env.NOVEL_BRIDGE_URL || 'http://novel-bridge:8765') + '/api/schemas/scene_card.schema.json'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Novel-Token",
              "value": "={{$env.NOVEL_BRIDGE_TOKEN || ''}}"
            }
          ]
        },
        "options": {}
      },
      "id": "load_scene_card_schema",
      "name": "Load Scene Card Schema",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7072,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $('Parse Chapter 1 Task').item.json;\nconst promptTemplate = $('Load Scene Cards Prompt').item.json.content;\nconst schema = $json.schema || $json;\nconst payload = {\n  chapter_task: source.chapter_task,\n  story_bible: source.story_bible_markdown,\n  state_memory: source.state_memory || {}\n};\nconst prompt = `${promptTemplate}\n\n请基于以下输入拆分第 ${source.chapter_index} 章场景卡。\n输入：\n${JSON.stringify(payload, null, 2)}\n\n必须严格符合以下 JSON Schema，只输出 JSON，不要输出 Markdown 或解释：\n${JSON.stringify(schema, null, 2)}`;\nreturn [{ json: { ...source, prompt } }];"
      },
      "id": "build_gpt_chapter1_scene_cards_request",
      "name": "Build GPT Chapter 1 Scene Cards Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7328,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{($env.OPENAI_BASE_URL || 'https://api.openai.com') + '/v1/chat/completions'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.OPENAI_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: $json.openai_model || $env.OPENAI_MODEL || 'gpt-5.4', temperature: 0.35, response_format: { type: 'json_object' }, messages: [ { role: 'system', content: '你是中文长篇小说分镜编剧。你必须只输出合法 JSON。' }, { role: 'user', content: $json.prompt } ] } }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "openai_chapter1_scene_cards",
      "name": "OpenAI Chapter 1 Scene Cards",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7584,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "function extractContent(response) {\n  if (typeof response === 'string') {\n    try { response = JSON.parse(response); } catch (err) { response = { data: response }; }\n  }\n  if (typeof response.data === 'string') {\n    try { response = JSON.parse(response.data); } catch (err) {}\n  }\n  if (response.body && typeof response.body === 'string') {\n    try { response = JSON.parse(response.body); } catch (err) {}\n  }\n  return response.choices?.[0]?.message?.content\n    || response.content?.[0]?.text\n    || response.output_text\n    || response.text\n    || response.data?.choices?.[0]?.message?.content\n    || '';\n}\nfunction parseJsonFromText(raw, label) {\n  let txt = String(raw).trim();\n  if (txt.startsWith('```')) {\n    txt = txt.replace(/^```(?:json)?\\s*/i, '').replace(/```$/i, '').trim();\n  }\n  const s = txt.indexOf('{');\n  const e = txt.lastIndexOf('}');\n  if (s !== -1 && e !== -1 && e > s) txt = txt.slice(s, e + 1);\n  try {\n    return JSON.parse(txt);\n  } catch (err) {\n    throw new Error(label + ' JSON parse failed: ' + raw);\n  }\n}\nconst source = $('Build GPT Chapter 1 Scene Cards Request').item.json;\nconst raw = extractContent($json);\nconst sceneCards = parseJsonFromText(raw, 'Scene cards');\nif (Number(sceneCards.chapter_index) !== Number(source.chapter_index)) {\n  sceneCards.chapter_index = Number(source.chapter_index);\n}\nif (!Array.isArray(sceneCards.scenes) || sceneCards.scenes.length < 3 || sceneCards.scenes.length > 5) {\n  throw new Error('Scene cards must contain 3-5 scenes, got ' + (sceneCards.scenes || []).length);\n}\nfor (let i = 0; i < sceneCards.scenes.length; i++) {\n  sceneCards.scenes[i].scene_index = Number(sceneCards.scenes[i].scene_index || i + 1);\n}\nreturn [{ json: { ...source, scene_cards: sceneCards, scene_cards_raw: raw } }];"
      },
      "id": "parse_chapter1_scene_cards",
      "name": "Parse Chapter 1 Scene Cards",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7840,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{($env.NOVEL_BRIDGE_URL || 'http://novel-bridge:8765') + '/api/books/' + $json.book_id + '/write'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Novel-Token",
              "value": "={{$env.NOVEL_BRIDGE_TOKEN || ''}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { path: 'scenes/ch001.scenes.json', content: $json.scene_cards } }}",
        "options": {}
      },
      "id": "save_chapter1_scene_cards",
      "name": "Save Chapter 1 Scene Cards",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8096,
        160
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Init Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Init Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Params": {
      "main": [
        [
          {
            "node": "Bridge Init Book",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bridge Init Book": {
      "main": [
        [
          {
            "node": "Load Seed Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Seed Prompt": {
      "main": [
        [
          {
            "node": "Load Story Seed Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Story Seed Schema": {
      "main": [
        [
          {
            "node": "Build GPT Seed Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build GPT Seed Request": {
      "main": [
        [
          {
            "node": "OpenAI Seed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Seed": {
      "main": [
        [
          {
            "node": "Parse Story Seed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Story Seed": {
      "main": [
        [
          {
            "node": "Save Story Seed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Story Seed": {
      "main": [
        [
          {
            "node": "Load Story Bible Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Story Bible Prompt": {
      "main": [
        [
          {
            "node": "Build GPT Story Bible Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build GPT Story Bible Request": {
      "main": [
        [
          {
            "node": "OpenAI Story Bible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Story Bible": {
      "main": [
        [
          {
            "node": "Parse Story Bible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Story Bible": {
      "main": [
        [
          {
            "node": "Save Story Bible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Story Bible": {
      "main": [
        [
          {
            "node": "Load Outline Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Outline Prompt": {
      "main": [
        [
          {
            "node": "Load Chapter Plan Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Chapter Plan Schema": {
      "main": [
        [
          {
            "node": "Build GPT Outline Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build GPT Outline Request": {
      "main": [
        [
          {
            "node": "OpenAI Outline 20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Outline 20": {
      "main": [
        [
          {
            "node": "Parse Outline 20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Outline 20": {
      "main": [
        [
          {
            "node": "Save Outline 20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Outline 20": {
      "main": [
        [
          {
            "node": "Load Chapter Task Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Chapter Task Prompt": {
      "main": [
        [
          {
            "node": "Load Chapter Task Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Chapter Task Schema": {
      "main": [
        [
          {
            "node": "Build GPT Chapter 1 Task Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build GPT Chapter 1 Task Request": {
      "main": [
        [
          {
            "node": "OpenAI Chapter 1 Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chapter 1 Task": {
      "main": [
        [
          {
            "node": "Parse Chapter 1 Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Chapter 1 Task": {
      "main": [
        [
          {
            "node": "Save Chapter 1 Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Chapter 1 Task": {
      "main": [
        [
          {
            "node": "Load Scene Cards Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Scene Cards Prompt": {
      "main": [
        [
          {
            "node": "Load Scene Card Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Scene Card Schema": {
      "main": [
        [
          {
            "node": "Build GPT Chapter 1 Scene Cards Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build GPT Chapter 1 Scene Cards Request": {
      "main": [
        [
          {
            "node": "OpenAI Chapter 1 Scene Cards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chapter 1 Scene Cards": {
      "main": [
        [
          {
            "node": "Parse Chapter 1 Scene Cards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Chapter 1 Scene Cards": {
      "main": [
        [
          {
            "node": "Save Chapter 1 Scene Cards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Chapter 1 Scene Cards": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "novel-seed-bridge-gpt-mvp",
  "meta": {},
  "id": "novel_seed_bridge_gpt_mvp",
  "tags": []
}
